<!DOCTYPE html>
<html>
<head><link rel="stylesheet" type="text/css" href="/static/style.css"/></head>
<body id="process">
	<h1> Lanzar proceso </h1>
	<form method="POST" action="/run_process">
		<table class="space">
		<tr>	
			<td class="align">PID</td>
			<td><input type="text" name="pid"></td>
		</tr>
		<tr>
			<td class="align">RAM</td>
			<td><input type="text" name="ram"></td>
		</tr>
		<tr>
			<td class="align">CPU</td>
			<td><input type="text" name="cpu"></td>
		</tr>
		<tr>
			<td class="align">HDD</td>
			<td><input type="text" name="hdd"></td>
		</tr>
		<tr>
			<td></td>
			<td id="last-td"><input type="submit" value="Ejecutar" id="button"></td>
		</tr>
		</table>
	</form>
</body>
</html>